/* *{
  outline: 1px dotted red
} */
.wrapper{
  width: 850px;
  height: 700px;
  background-color: gray;
  margin: 0 auto;
}
mainContent{
  width: 800px;
  height: 800px;
  
}
.mainBox{
  background-color: White;
  width: 850px;
  height: 515px;
  margin-top: 15px;

}
.header{
  width: 850px;
  height: 140px;
  
}

form.example input[type=text] {
  padding: 10px 0px;
  font-size: 17px;
  border: 1px solid grey;
  width: 490px;
  background: #f1f1f1;
  display: inline-block;
  margin-left: 280px;
  margin-top: 50px;
}

.example button {
  
  width: 50px;
  padding: 10px;
  background: #ddd;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

/* .example button:hover {
  background: #0b7dda;
} */

.example::after {
  content: "";
  clear: both;
  display: table;
}
.mainBox button{
  width: 100px;
  height:-1px;
  background-color: green;
  margin-top: 10px;
}
h4{
  padding-top: 20px;
 vertical-align: top;
 margin-top: 5px;
}
/* 
.head input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
} */

img{
  width: 165px;
  height: 180px;
  margin-left: 20px;
  margin-top: 30px;
}